<h2>Dashboard</h2>
<<<<<<< HEAD
<h5>Hello, {{firstname}} {{lastname}}, you are logged in.</h5>
=======
<h5>Hello, {{firstname}} {{lastname}}, you are logged in. Your id is: {{id}}</h5>
>>>>>>> master
